<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li class="active">
      <a href="{% url 'dashboard' %}">Menu secretaire <span class="sr-only">(current)</span></a>
    </li>
    <li><a href="{% url 'dashboard' %}">Menu secretaire 2</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle profile-image" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Michelle <span class="caret"></span>
      </a>

      <ul class="dropdown-menu">
	<li><a href="?role=0">Medecin</a></li>
	<li><a href="?role=1">Orthoptiste</a></li>
        <li><a href="{% url 'dashboard' %}">Logout</a></li>
      </ul>
    </li>
  </ul>
  
</div>

